<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
  <div class="headermain">
    <h1>Todo List</h1>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="mainform">
      <form action="/" method="post">
        <h2>Add Todo items</h2>
        <label for="">Title</label>
        <input type="text" name="todotitle" class="form-control">
        <br>
        <label for="">Description</label>
        <input type="text" name="tododesc" class="form-control">
        <br>
        <button type="submit" href="/" class="btn btn-primary">Submit</button>
      </form>
    </div>
    
    <div class="table-responsive">
      <h2>My Todo List</h2>
      <table class="table">
          <thead>
            <tr>
              <th>SNo</th>
              <th>Title</th>
              <th>Description</th>
              <th>Date of created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in alltodo %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{todo.title}}</td>
              <td>{{todo.desc}}</td>
              <td>{{todo.datecreated}}</td>
              <td>
                <a href="/edit/{{todo.sno}}"><button class="btn btn-outline-dark btn-sm">Edit</button></a>
                <a href="/delete/{{todo.sno}}"><button class="btn btn-outline-dark btn-sm">Delete</button></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>